@model List<WebQuanLyAppOnTap.Models.Document>

@{
    ViewBag.Title = "Danh sách tài liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .table th, .table td {
        text-align: center; /* Canh giữa nội dung */
        vertical-align: middle; /* Canh giữa theo chiều dọc */
        padding: 8px; /* Khoảng cách giữa nội dung và viền của cột */
    }
</style>

<section class="banner_main" style="margin-top: -50px;">
    <h2 style="padding-top: 50px;">Danh Sách Tài Liệu</h2>

    <br />

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>

    <table class="table">
        <tr style="background-color: aqua; text-align: center">
            <th>
                Tên tài liệu
            </th>
            <th>
                Link tài liệu
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Tên môn học
            </th>
            <th></th>
        </tr>

        @foreach (var document in Model)
        {
            <tr>
                <td>
                    @document.NameDocument
                </td>
                <td>
                    @document.LinkDocument
                </td>
                <td>
                    @document.DateUpload.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td>
                    @(document.NameSubject ?? "N/A")
                </td>
                <td>
                    <a class="edit-link" href="@Url.Action("EditDocument", "Documents", new { documentId = document.Id })">Sửa |</a>
                    <a class="edit-link" href="@Url.Action("DeleteDocument", "Documents", new { documentId = document.Id })"> Xóa</a>
                </td>
            </tr>
        }
    </table>

</section>

