@model WebQuanLyAppOnTap.Models.Subject

@{
    ViewBag.Title = "Thêm mới môn học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}

<section class="banner_main" style="margin-top: -50px;">
    <div>
        <h2 style="padding-top: 50px;">Thêm Mới Môn Học</h2>
        <button type="button" onclick="window.location.href='@Url.Action("Index", "Subjects")'" class="add_posts btn">
            <img height="24" width="24" src="~/Content/images/back.png" /> Quay lại
        </button>
    </div>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Label("Tên môn học")
            @Html.EditorFor(model => model.NameSubject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameSubject, "", new { @class = "text-danger" })
        </div>

        <br />

        <input type="submit" value="Thêm" class="btn btn-primary" />
    }
</section>

