@model List<WebQuanLyAppOnTap.Models.Quiz>

@{
    ViewBag.Title = "Danh sách bài kiểm tra";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .table th, .table td {
        text-align: center; /* Canh giữa nội dung */
        vertical-align: middle; /* Canh giữa theo chiều dọc */
        padding: 8px; /* Khoảng cách giữa nội dung và viền của cột */
    }
</style>

<section class="banner_main" style="margin-top: -50px;">
    <h2 style="padding-top: 50px;">Danh Sách Bài Kiểm Tra</h2>

    <br />

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>

    <table class="table">
        <tr style="background-color: aqua; text-align: center">
            <th>
                Tên bài kiểm tra
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Tên môn học
            </th>
            <th></th>
        </tr>

        @foreach (var quiz in Model)
        {
            <tr>
                <td>
                    @quiz.NameQuiz
                </td>
                <td>
                    @quiz.DateUpload
                </td>
                <td>
                    @quiz.NameSubject
                </td>
                <td>
                    <a class="edit-link" href="@Url.Action("EditQuiz", "Quizzes", new { quizId = quiz.Id })">Sửa Bài |</a>
                    <a class="edit-link" href="@Url.Action("DeleteQuiz", "Quizzes", new { quizId = quiz.Id })"> Xóa Bài</a>
                </td>
            </tr>
        }
    </table>

</section>

