@model WebQuanLyAppOnTap.Models.ScoreData

@{
    ViewBag.Title = "Xóa điểm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}

<section class="banner_main" style="margin-top: -50px;">
    <h2 style="padding-top:50px;">Bạn có chắc muốn xóa điểm này?</h2>

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <strong>Bài kiểm tra: </strong>
            <span>@Model.NameQuiz</span>
        </div>

        <div class="form-group">
            <strong>Người dùng: </strong>
            <span>@Model.FullName</span>
        </div>

        <div class="form-group">
            <strong>Điểm: </strong>
            <span>@Model.Score.ToString("N1")</span>
        </div>

        <div class="form-group">
            <strong>Ngày lưu: </strong>
            <span>@Model.DateAdd.ToString("dd/MM/yyyy HH:mm:ss")</span>
        </div>
    </div>

    @using (Html.BeginForm("DeleteConfirmed", "Score", new { scoreId = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận Xóa" class="btn" style="background-color: red; color: white;" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Danh sách bài kiểm tra", "Index")
    </div>

</section>


